<!-- <div class="container-fluid main-container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 m-auto body-content">
      <div class="title">
        <div>Welcome to <span>Zomato</span></div>
        <div class="sub-title">Discover the best food</div>
      </div>
      <div class="search-box">
        <input class="form-control form-control-lg search-input" type="text" placeholder="Set location">
        <span class="search-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="categories" *ngFor="let cat of categoriesList">
        {{cat.categories.name}}
      </div>

    </div>
  </div>
</div> -->

<div class="container-fluid main">
  <div class="search-header">
    <div class="">
      <div class="col-lg-6 col-md-8 col-sm-10 m-auto body-content">
        <div class="title">
          <div>Welcome to <span>Zomato</span></div>
          <div class="sub-title">Discover the best food</div>
        </div>
        <div class="search-box">
          <input class="form-control form-control-lg search-input" type="text" placeholder="Set location">
          <span class="search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-details">
    <div class="card-section">
      <div class="categories" *ngFor="let cat of categoriesList">
        <p>{{cat.categories.name}}</p>
      </div>
    </div>
  </div>
</div>