.main-container{
    /* width: 100%; */
    /* margin: 0 auto; */
    height: 100vh;
    background-color: #ffe5dd;
    /* background-image: linear-gradient(to right, var(--light-black) , #b75454); */
    
    /* display: flex; */
    /* justify-content: center; */

}
.body-content{
    position: relative;
    top: 20vh;
}

.title{
    color: var(--light-black);
    font-size: 2em;
    text-align: center;
}

.title span {
    color: var(--red);
}

.search-box{
    display: flex;


}
.search-input{
    box-shadow: none;
}
.search-icon{
    position: relative;
    border: 1px solid #ced4da;
    padding: 6px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}




/* 
.main-sec{
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 20vh;
    background-image: linear-gradient(to right, var(--light-black) , var(--red));
}
.search-text{
    box-shadow: none;
    outline: none;
}
.main-sec h1 {
    padding-bottom: 20px;
}
h1 span {
    color: var(--red);
}
.search-box{
 display: flex;

}
.search-icon{
    position: relative;
    border: 1px solid #ced4da;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
} */
